<?xml version="1.0"?>
<config>
    <modules>
        <Speroteck_MyShipping>
            <version>0.1.0</version>
        </Speroteck_MyShipping>
    </modules>
    <global>
        <models>
            <myshipping>
                <class>Speroteck_MyShipping_Model</class>
            </myshipping>
        </models>

        <sales>
            <shipping>
                <carriers>
                    <myshipping>
                        <class>Speroteck_MyShipping_Model_Carrier_ShippingMethod</class>
                    </myshipping>
                </carriers>
            </shipping>
        </sales>
    </global>

    <default>
        <carriers>
            <myshipping>
                <active>1</active>
                <model>myshipping/carrier_ShippingMethod</model>
                <title>Smashing Magazine Carrier</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </myshipping>
        </carriers>
    </default>
</config>